{% extends "homefortools.html" %}

{% load static %}

{% block title %}
Audio Video Tools
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/audioVideoTools.css' %}">
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/audioVideoTools.js' %}"></script>
{% endblock %}

{% block content %}

<div class="tool-container">
    <div class="tooldivbox">
        <h3>Download YouTube Video</h3>
        <input type="text" id="videoUrl" placeholder="Enter Video URL">
        <button onclick="downloadVideo()">Download Video</button>
    </div>

    <div class="tooldivbox">
        <h3>Extract Audio as .wav</h3>
        <input type="text" placeholder="Enter Video URL">
        <p>OR</p>
        <input type="file">
        <button onclick="saveAsFile('wav')">Save as .wav</button>
    </div>

    <div class="tooldivbox">
        <h3>Extract Audio as .mp3</h3>
        <input type="text" placeholder="Enter Video URL">
        <p>OR</p>
        <input type="file">
        <button onclick="saveAsFile('mp3')">Save as .mp3</button>
    </div>

    <div class="tooldivbox">
        <h3>Get hindi text from audio</h3>
        <input type="text" placeholder="Enter Video URL">
        <p>OR</p><br>
        <p>Select audio/video</video></p>
        <input type="file">
        <button onclick="saveAsFile('mp3')">Get text</button>
    </div>
    <div>
        <p>Translated text will come here</p>
    </div>
</div>

{% endblock %}