<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web tech Workshop </title>

    <style>
        table,th,td{
            border: 1px solid brown;
            
        }
        table{
            margin-left: auto;
            margin-right: auto;
        }
        a:hover{
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }
        a:active{
            color: aqua;
            background-color: yellow;
            text-decoration: overline;
        }
        /*
        a:link{
            color: chartreuse;
            background-color: rgb(207, 56, 56);
        }
        a:visited{
            color: yellowgreen;
            background-color: aquamarine;
        }static */

        #backToTop {
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
        }

        #backToTop a {
            background-color: #333;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
        }

        #backToTop a:hover {
            background-color: #2914de;
        }
    </style>

<script>
    window.onscroll = function() {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("backToTop").style.display = "block";
        } else {
            document.getElementById("backToTop").style.display = "none";
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>

</head>
<body>
    <div style="text-align: center;">
    <table>
        <tr>
            <th>Name</th>
            <th>Department</th>
        </tr>
        <tr>
            <td>Lokesh</td>
            <td>IoT</td>
        </tr>
    </table>

    <br>



    <a href="C:\Users\E-LAB-PC10\Documents\3.html" target="_self"><img style="height: 100px; width: 100px;" src="C:\Users\E-LAB-PC10\Desktop\th.jpeg"></a>
    <a href="mailto:meghali.das@niet.co.in" target=""><img style="height: 100px; width: 200px;" src="C:\Users\E-LAB-PC10\Desktop\outlook.jpeg"></a>
    <br>
    <button onclick = "document.location ='C:/Users/E-LAB-PC10/Documents/2.html' ">Click me</button>
    <a href="www.google.com">google</a>

    <br>

    <a href="#c7">Heading 7</a>

    <h1>Heading</h1>
    <h1>Heading</h1>
    <h1>Heading</h1>
    <h1>Heading</h1>
    <h1>Heading</h1>
    <h1>Heading</h1>
    <p style="width: 500px;">"Upon my word," said Colonel Laporte, "although I am old and gouty, my legs as stiff as two pieces of wood, yet if a pretty woman were to tell me to go through the eye of a needle, I believe I should take a jump at it, like a clown through a hoop. I shall die like that; it is in the blood. I am an old beau, one of the old school, and the sight of a woman, a pretty woman, stirs me to the tips of my toes. There!
        "We are all very much alike in France in this respect; we still remain knights, knights of love and fortune, since God has been abolished whose bodyguard we really were. But nobody can ever get woman out of our hearts; there she is, and there she will remain, and we love her, and shall continue to love her, and go on committing all kinds of follies on her account as long as there is a France on the map of Europe; and even if France were to be wiped off the map, there would always be Frenchmen left.
        "When I am in the presence of a woman, of a pretty woman, I feel capable of anything. By Jove! when I feel her looks penetrating me, her confounded looks which set your blood on fire, I should like to do I don't know what; to fight a duel, to have a row, to smash the furniture, in order to show that I am the strongest, the bravest, the most daring and the most devoted of men.
        "But I am not the only one, certainly not; the whole French army is like me, I swear to you. From the common soldier to the general, we all start out, from the van to the rear guard, when there is a woman in the case, a pretty woman. Do you remember what Joan of Arc made us do formerly? Come. I will make a bet that if a pretty woman had taken command of the army on the eve of Sedan, when Marshal MacMahon was wounded, we should have broken through the Prussian lines, by Jove! and had a drink out of their guns.
        "It was not a Trochu, but a Sainte-Genevieve, who was needed in Paris; and I remember a little anecdote of the war which proves that we are capable of everything in presence of a woman.
        "I was a captain, a simple captain, at the time, and I was in command of a detachment of scouts, who were retreating through a district which swarmed with Prussians. We were surrounded, pursued, tired out and half dead with fatigue and hunger, but we were bound to reach Bar-sur-Tain before the morrow, otherwise we should be shot, cut down, massacred. I do not know how we managed to escape so far. However, we had ten leagues to go during the night, ten leagues through the night, ten leagues through the snow, and with empty stomachs, and I thought to myself:
        "'It is all over; my poor devils of fellows will never be able to do it.' 
        "We had eaten nothing since the day before, and the whole day long we remained hidden in a barn, huddled close together, so as not to feel the cold so much, unable to speak or even move, and sleeping by fits and starts, as one does when worn out with fatigue.   
        "It was dark by five o'clock, that wan darkness of the snow, and I shook my men. Some of them would not get up; they were almost incapable of moving or of standing upright; their joints were stiff from cold and hunger.   
        "Before us there was a large expanse of flat, bare country; the snow was still falling like a curtain, in large, white flakes, which concealed everything under a thick, frozen coverlet, a coverlet of frozen wool One might have thought that it was the end of the world.  
        "'Come, my lads, let us start.'    
        "They looked at the thick white flakes that were coming down, and they seemed to think: 'We have had enough of this; we may just as well die here!' Then I took out my revolver and said:   
        "'I will shoot the first man who flinches.' And so they set off, but very slowly, like men whose legs were of very little use to them, and I sent four of them three hundred yards ahead to scout, and the others followed pell-mell, walking at random and without any order. I put the strongest in the rear, with orders to quicken the pace of the sluggards with the points of their bayonets in the back.
        "The snow seemed as if it were going to bury us alive; it powdered our kepis and cloaks without melting, and made phantoms of us, a kind of spectres of dead, weary soldiers. I said to myself: 'We shall never get out of this except by a, miracle.'
        "Sometimes we had to stop for a few minutes, on account of those who could not follow us, and then we heard nothing except the falling snow, that vague, almost undiscernible sound made by the falling flakes. Some of the men shook themselves, others did not move, and so I gave the order to set off again. They shouldered their rifles, and with weary feet we resumed our march, when suddenly the scouts fell back. Something had alarmed them; they had heard voices in front of them. I sent forward six men and a sergeant and waited.
        "All at once a shrill cry, a woman's cry, pierced through the heavy silence of the snow, and in a few minutes they brought back two prisoners, an old man and a girl, whom I questioned in a low voice. They were escaping from the Prussians, who had occupied their house during the evening and had got drunk. The father was alarmed on his daughter's account, and, without even telling their servants, they had made their escape in the darkness. I saw immediately that they belonged to the better class. I invited them to accompany us, and we started off again, the old man who knew the road acting as our guide.</p>
    <h1 id = "c7">Heading 7</h1>
    <p style="width: 500px;">"Upon my word," said Colonel Laporte, "although I am old and gouty, my legs as stiff as two pieces of wood, yet if a pretty woman were to tell me to go through the eye of a needle, I believe I should take a jump at it, like a clown through a hoop. I shall die like that; it is in the blood. I am an old beau, one of the old school, and the sight of a woman, a pretty woman, stirs me to the tips of my toes. There!
        "We are all very much alike in France in this respect; we still remain knights, knights of love and fortune, since God has been abolished whose bodyguard we really were. But nobody can ever get woman out of our hearts; there she is, and there she will remain, and we love her, and shall continue to love her, and go on committing all kinds of follies on her account as long as there is a France on the map of Europe; and even if France were to be wiped off the map, there would always be Frenchmen left.
        "When I am in the presence of a woman, of a pretty woman, I feel capable of anything. By Jove! when I feel her looks penetrating me, her confounded looks which set your blood on fire, I should like to do I don't know what; to fight a duel, to have a row, to smash the furniture, in order to show that I am the strongest, the bravest, the most daring and the most devoted of men.
        "But I am not the only one, certainly not; the whole French army is like me, I swear to you. From the common soldier to the general, we all start out, from the van to the rear guard, when there is a woman in the case, a pretty woman. Do you remember what Joan of Arc made us do formerly? Come. I will make a bet that if a pretty woman had taken command of the army on the eve of Sedan, when Marshal MacMahon was wounded, we should have broken through the Prussian lines, by Jove! and had a drink out of their guns.
        "It was not a Trochu, but a Sainte-Genevieve, who was needed in Paris; and I remember a little anecdote of the war which proves that we are capable of everything in presence of a woman.
        "I was a captain, a simple captain, at the time, and I was in command of a detachment of scouts, who were retreating through a district which swarmed with Prussians. We were surrounded, pursued, tired out and half dead with fatigue and hunger, but we were bound to reach Bar-sur-Tain before the morrow, otherwise we should be shot, cut down, massacred. I do not know how we managed to escape so far. However, we had ten leagues to go during the night, ten leagues through the night, ten leagues through the snow, and with empty stomachs, and I thought to myself:
        "'It is all over; my poor devils of fellows will never be able to do it.' 
        "We had eaten nothing since the day before, and the whole day long we remained hidden in a barn, huddled close together, so as not to feel the cold so much, unable to speak or even move, and sleeping by fits and starts, as one does when worn out with fatigue.   
        "It was dark by five o'clock, that wan darkness of the snow, and I shook my men. Some of them would not get up; they were almost incapable of moving or of standing upright; their joints were stiff from cold and hunger.   
        "Before us there was a large expanse of flat, bare country; the snow was still falling like a curtain, in large, white flakes, which concealed everything under a thick, frozen coverlet, a coverlet of frozen wool One might have thought that it was the end of the world.  
        "'Come, my lads, let us start.'    
        "They looked at the thick white flakes that were coming down, and they seemed to think: 'We have had enough of this; we may just as well die here!' Then I took out my revolver and said:   
        "'I will shoot the first man who flinches.' And so they set off, but very slowly, like men whose legs were of very little use to them, and I sent four of them three hundred yards ahead to scout, and the others followed pell-mell, walking at random and without any order. I put the strongest in the rear, with orders to quicken the pace of the sluggards with the points of their bayonets in the back.
        "The snow seemed as if it were going to bury us alive; it powdered our kepis and cloaks without melting, and made phantoms of us, a kind of spectres of dead, weary soldiers. I said to myself: 'We shall never get out of this except by a, miracle.'
        "Sometimes we had to stop for a few minutes, on account of those who could not follow us, and then we heard nothing except the falling snow, that vague, almost undiscernible sound made by the falling flakes. Some of the men shook themselves, others did not move, and so I gave the order to set off again. They shouldered their rifles, and with weary feet we resumed our march, when suddenly the scouts fell back. Something had alarmed them; they had heard voices in front of them. I sent forward six men and a sergeant and waited.
        "All at once a shrill cry, a woman's cry, pierced through the heavy silence of the snow, and in a few minutes they brought back two prisoners, an old man and a girl, whom I questioned in a low voice. They were escaping from the Prussians, who had occupied their house during the evening and had got drunk. The father was alarmed on his daughter's account, and, without even telling their servants, they had made their escape in the darkness. I saw immediately that they belonged to the better class. I invited them to accompany us, and we started off again, the old man who knew the road acting as our guide.</p>
    </div>

    <div id = "backToTop">
        <a href="javascript:void(0) ;" onclick="scrollToTop()">Back To Top</a>
    </div>

    <iframe src="" style="height: 200px; width: 300px;
    border:none"></iframe>

    <!--09:38 09-10-2023-->

    <div>
    <form style="border: #333; width: 30%;  text-align: center;">
        <fieldset>
        <legend>Login Form</legend>

        <label>User name:</label><br>
        <input type="text"><br>
        <label>Password:</label><br>
        <input type="password"><br>
        <input type="submit"><br>
        
        <label>Enter your Phone number</label>
        <input type="number">

        <label>Dept</label>


        </fieldset>
    </form>
    </div>


    </body>
    
    

    
    
</body>
</html>