<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vidhur Rule</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" type="text/css" media="screen" href="\cssstyles.css">

    <script src="app_popupboxes.js"></script>


    <style>
        table,th,td{
            border: 2px;
            border-color: aliceblue;
            color: aliceblue;
            padding: 2px;
        }
        th{
            background-color: rgb(0, 113, 32);
        }
    </style>
</head>



<body>

    <h1>Hello Duniyan!</h1>
    <h7>This is my first document </h7>

    <div style="color: rgb(255, 255, 255); background-color: black; padding: 20px;">
        <h1>Delhi</h1>
        <p>
            Delhi is the capital city of India . It is the most populous city in the India. 
        </p>

    </div>
    <p>My Mother has <p style="color: blue;">blue</p> eyes and my father has <p style="color: chartreuse;">green</p> eyes.</p>


<div>
    <h1 style="text-align: center; background-color: brown;">Mohit Johri</h1>
    <p style="text-align: center;"><b>Phone Number<b>: 9002132113 <b>Email</b>: mohitJ@killer.com</p>

    <div>
        <ul>
            <li>
                <h2>
                    Resume Summary
                </h2>
                <p>
                    Self-driven and passionate Machine Learning Specialist who excels at developing machine learning systems and creating new software applications. Possessing a strong attention to detail, exceptional analytical skills, and the ability to solve complex problems, Lauris is an effective team player determined to achieve extraordinary results.
                </p>
            </li>
            <li>
                <h2>
                    Work experience
                </h2>
                <p>
                    Machine Learning Specialist BMB Technologies, Inc.
                    <ul>
                    <li>Collaborated with colleagues on the development and implementation of new
                        machine learning systems. • Collected and analyzed data, created machine learning algorithms, and
                        maintained and managed large databases.</li> 
                    <li>Conducted professional statistical analysis and pro-actively participated in the
                        development of multiple software applications.</li>
                    <li>Recruited and supervised 7 IT Interns and completed detailed reports on the progress of the assigned projects.</li>
                    <li>Awarded the Employee of the Year for constantly performing excellent work and
                        meeting all targets and goals.</li>
                    </ul>
                </p>
            </li>
            <li>
                <h2>Education</h2>
                <p>Computer Science Columbia University
                    GPA: 3.98 (Top 1% of the Program) Clubs and Societies: Al Society, Golf Club, TEDX Club
                    09/2008 - 05/2012 Riga, Latvia
                    High School
                    Riga Dome Choir School
                    Graduated with Distinction (Grade 1 - A/excellent equivalent in all 4 subjects) The 2010 Principal's Award winner for achieving extraordinary academic results Extracurricular Activities: Computer Club, Engineering Society, Math Society
                    </p>
            </li>
            <li>
                <h2>Skills</h2>
                <p>LANGUAGES
                    Latvian Native
                    English Full
                    SOFTWARE SKILLS
                    Microsoft Azure Al Platform
                    Knime
                    Chinese
                    Elementary
                    Google Cloud Al Platform</p>
            </li>
        </ul>
    </div>
    <a href="https://images.app.goo.gl/YURsXyXjQNPuL72f7">Ml Scientist CV Example</a>
</div>

<style>
    table,th,td{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
        background-color: rgb(3, 28, 49);
        color:aliceblue;

    }
    td{
        padding: 3px;
    }
    td:hover,th:hover{
        background-color: rgb(243, 213, 230);
        transition: 0.2s;
        color: rgb(0, 0, 0);
    }
</style>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Dept      
        </th>
    </tr>
    <tr>
        <td colspan="2">
            Sumit and Dept is AIML
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Sumit and Dept is AIML
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Sumit and Dept is AIML
        </td>
    </tr>

</table>

<br>

<table>
    <tr>
        <th>
            Name 
        </th>
        <td>
            Ram
        </td>
        <td>
            Sumit
        </td>
    </tr>
    <tr>
        <th>
            Dept
        </th>
        <td>
            AIML
        </td>
        <td>
            iot
        </td>
    </tr>
    <tr>
        <th>
            Year
        </th>
        <td>
            3
        </td>
        <td>
            4
        </td>
    </tr>
</table>

<form>
<h1>Contact Us</h1>
<label>Name :</label><input type="text"><br>
<label>Email Address :</label><input type="email"><br>
<label>Message :</label><br>
<input type="text"><br>
<input type="submit">
</form>

<h1 style="text-align: center;">Mr Xiang</h1>
<p>Email : killer@54hotl.com |Phone No: 34782713489 | Linkedin : Xiang@linkindin.com</p>

<p><b>Experience</b></p>
<p><b>Software Devloper</b></p>

<p>Suhani Company - Janurary 1995 to Present</p>

<ul>
    <li>Devloped and maintained web application using html,css and javascript</li>
    <li>Collaborated with cross functional teams to define , design and shiped new features </li>
    <li>Performed code reviews to .... </li>
</ul>

<p><b>Education</b></p>
<p><b>Bachelor of Science in Computer Science</b></p>

<p>AKTU university graduated 2000</p>


<h1 style="text-align: center; color: rgb(57, 162, 0);">Class Timetable</h1>

<table>
    <tr>
        <th>Time/Day</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
    <tr>
        <td style="background-color: rgb(120, 120, 0);">9:00 AM - 10:00 AM</td>
        <td style="background-color: orange;">Math</td>
        <td style="background-color: rgb(45, 232, 117);">History</td>
        <td style="background-color: rgb(110, 32, 227);">Science</td>
        <td style="background-color: rgb(220, 102, 13);">English</td>
        <td style="background-color: rgb(245, 9, 131);">Physical Education</td>
    </tr>
</table>
</div>


<div class="header">
    <h1>Home decor</h1>
    <p>Welcome to Our Website You can here browse for decoation artifects</p>
    <nav class = "navbar">
        <a href = "https://www.hometown.in/hot-deals">Online Exclusives</a>
        <a href = "">Furniture</a>
        <a href = "">Home Decor</a>
        <a href = "">Home Furnishing</a>
        <a href = "">Tableware & kicthenWare</a>
        <a href = "">Modular Kictchen</a>
        <a href = "">Design and Build</a>
        <a href = "">More.</a>
    </nav>

</div>

<div class="container">

    <div class = 'left'>
        <h1>Types of Artifects</h1>
        <ul>
            <li>Flower Pots</li>
            <li>wall decor</li>
            <li>Flower Pots</li>
        </ul>
        </div>
        <div class="right">
        <h1>Browse All Artifects here ..</h1>
            <div class="rightclasschilddiv"><img src="71JdwTdZRaL.jpg"></div>
            <div class="rightclasschilddiv"><img src="dc2-10021_a_1_.jpg"></div>
            <div class="rightclasschilddiv"><img src="71CvWO-dPxL._AC_UF1000,1000_QL80_.jpg"></div>
        </div>
    </div>


    <div class="footer">
        <h1>Here you can find Our Customer reviews .. </h1>
        <p>
            ALisha : Very Good Quality wood used and finshing is awasome !! <br>
            Agra 10:52 11-10-2022
        </p>

        <p>
            ALisha : Very Good Quality wood used and finshing is awasome !! <br>
            Agra 10:52 11-10-2022
        </p>
        <p>
            ALisha : Very Good Quality wood used and finshing is awasome !! <br>
            Agra 10:52 11-10-2022
        </p>
        <p>
            ALisha : Very Good Quality wood used and finshing is awasome !! <br>
            Agra 10:52 11-10-2022
        </p>
    </div>


    <h1>JavaScript Popup Boxes</h1>

    <button onclick ="showAlert()">Show Alert</button>
    <button onclick ="showconfirm()">Show Confirm</button>
    <button onclick="showPrompt()">Show Prompt</button>

    <h2>Click the button to change the text</h2>
    <p id = "clcikExampletxt" >Clicl me !</p>
    <button onclick="changeText('clcikExampletxt')">Click me</button>



    <h1>Submit a Form</h1>
    <form id = "myform" onsubmit="submitForm()">
        <input type="text" id="username" placeholder="Enter your name here.." required>
        <input type="text" id ="email" placeholder="Enter your email.."  required >
        <input type="submit" name="submit" value="Submit">
    </form>



<main>
    <div class="container">
           <form id="form" class="form">
               <h2>Register With Us</h2>
               <div class="form-control">
                   <label for="username">Username</label>
                   <input type="text" id="username" placeholder="Enter Username">
                   <small>Error Message</small>
               </div>
               <div class="form-control">
                   <label for="email">Email</label>
                   <input type="text" id="email" placeholder="Enter email">
                   <small>Error Message</small>
               </div>
               <div class="form-control">
                   <label for="password">Password</label>
                   <input type="password" id="password" placeholder="Enter password">
                   <small>Error Message</small>
               </div>
               <div class="form-control">
                   <label for="password2">Confirm Password</label>
                   <input type="password" id="password2" placeholder="Enter password again">
                   <small>Error Message</small>
               </div>
               <button onclick="addEventListener()">Submit</button>
           </form>
       </div>
    </main>
    

    <p id = "paragraph">Hi will change on clicking below button ..</p>

    <button onclick="document.getElementById('paragraph').style.changeText='text changed successfuly..'";>button to change above text ..</button>

    

    
</body>
</html>