<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vidhur Rule</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>

</head>

<body>
    <h1>Hello Duniyan!</h1>
    <h7>This is my first document </h7>

    <div style="color: rgb(255, 255, 255); background-color: black; padding: 20px;">
        <h1>Delhi</h1>
        <p>
            Delhi is the capital city of India . It is the most populous city in the India.
        </p>

    </div>
    <p>My Mother has
    <p style="color: blue;">blue</p> eyes and my father has <p style="color: chartreuse;">green</p> eyes.</p>


    <div>
        <h1 style="text-align: center; background-color: brown;">Mohit Johri</h1>
        <p style="text-align: center;"><b>Phone Number<b>: 9002132113 <b>Email</b>: mohitJ@killer.com</p>

        <div>
            <ul>
                <li>
                    <h2>
                        Resume Summary
                    </h2>
                    <p>
                        Self-driven and passionate Machine Learning Specialist who excels at developing machine learning
                        systems and creating new software applications. Possessing a strong attention to detail,
                        exceptional analytical skills, and the ability to solve complex problems, Lauris is an effective
                        team player determined to achieve extraordinary results.
                    </p>
                </li>
                <li>
                    <h2>
                        Work experience
                    </h2>
                    <p>
                        Machine Learning Specialist BMB Technologies, Inc.
                    <ul>
                        <li>Collaborated with colleagues on the development and implementation of new
                            machine learning systems. • Collected and analyzed data, created machine learning
                            algorithms, and
                            maintained and managed large databases.</li>
                        <li>Conducted professional statistical analysis and pro-actively participated in the
                            development of multiple software applications.</li>
                        <li>Recruited and supervised 7 IT Interns and completed detailed reports on the progress of the
                            assigned projects.</li>
                        <li>Awarded the Employee of the Year for constantly performing excellent work and
                            meeting all targets and goals.</li>
                    </ul>
                    </p>
                </li>
                <li>
                    <h2>Education</h2>
                    <p>Computer Science Columbia University
                        GPA: 3.98 (Top 1% of the Program) Clubs and Societies: Al Society, Golf Club, TEDX Club
                        09/2008 - 05/2012 Riga, Latvia
                        High School
                        Riga Dome Choir School
                        Graduated with Distinction (Grade 1 - A/excellent equivalent in all 4 subjects) The 2010
                        Principal's Award winner for achieving extraordinary academic results Extracurricular
                        Activities: Computer Club, Engineering Society, Math Society
                    </p>
                </li>
                <li>
                    <h2>Skills</h2>
                    <p>LANGUAGES
                        Latvian Native
                        English Full
                        SOFTWARE SKILLS
                        Microsoft Azure Al Platform
                        Knime
                        Chinese
                        Elementary
                        Google Cloud Al Platform</p>
                </li>
            </ul>
        </div>
        <a href="https://images.app.goo.gl/YURsXyXjQNPuL72f7">Ml Scientist CV Example</a>
    </div>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 3px;
            background-color: rgb(3, 28, 49);

        }

        td {
            padding: 3px;
        }

        td:hover,
        th:hover {
            background-color: rgb(223, 96, 170);
            transition: 0.2s;
        }
    </style>

    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Dept
            </th>
        </tr>
        <tr>
            <td colspan="2">
                Sumit and Dept is AIML
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Sumit and Dept is AIML
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Sumit and Dept is AIML
            </td>
        </tr>

    </table>

    <br>

    <table>
        <tr>
            <th>
                name
            </th>
            <td>
                Ram
            </td>
            <td>
                Sumit
            </td>
        </tr>
        <tr>
            <th>
                Dept
            </th>
            <td>
                AIML
            </td>
            <td>
                iot
            </td>
        </tr>
        <tr>
            <th>
                Year
            </th>
            <td>
                3
            </td>
            <td>
                4
            </td>
        </tr>
    </table>
    <li><a href="sample1.pdf" target="pdfFrame">PDF 1</a></li>


    <br>
    <a target="pdfFrame"
        href="C:\Users\dell pc\PycharmProjects\pythonProject1\djangoProjects\project1\app1\mypdffiles\yakpktfm.pdf">My
        pdf</a>
    

    <div style="display: flex;">
    <div style="width: 50%; background-color: blue;">Hello</div>
    <div style="width: 50%; background-color: blueviolet;">bye
        <iframe name="pdfFrame" style="width: 100%; height: 500px;"></iframe>
    </div>
    </div>
</body>

</html>