<html>
    <head>
        <title>
            Learning div and flex
        </title>
        <style>
            div>table{
                border : 2px seagreen solid;
                width : 100%;
            }
            td,th{
                border : 2px sienna solid;
            }
            .center{
                margin: auto;
                width: 50%;
                border: 3px solid greenyellow;
                padding : 10px;
            }
        </style>
    </head>
    <body>
        <div class = 'center'>
            <table>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Dept
                    </th>
                    <th>
                        DOB
                    </th>
                </tr>
                <tr>
                    <td>Lokesh</td>
                    <td>Bio tech</td>
                    <td>12/05/2000</td>
                </tr>
            </table>
        </div>
    </body>
</html>