body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MainBox {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 4px solid black;
    border-radius: 10px;
    width: fit-content;
}

fieldset {
    width: fit-content;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border: 5px solid black;
    border-radius: 10px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

.firstBlock {
    display: flex;
    width: min-content;
}

.createfilebox {
    margin: 10px 10px 10px 10px;
    width: 45%;
    text-align: center;
}

.orDiv {
    margin: 10px 10px 10px 10px;
    width: 50%;
    text-align: center;
    font-weight: 600;
}


.selectfliebox {
    margin: 10px 10px 10px 10px;
    width: 45%;
    text-align: center;
}

.TwodivHrztl,
.FivehrzntlDiv {
    display: flex;
}

.TwodivHrztl>.input,
select {
    margin: 10px 10px 10px 10px;
    margin-top: 0px;
}

.TwodivHrztl>input {
    width: 150px;
}

.TwodivHrztl>.btn {
    width: fit-content;
    margin: 10px 10px 10px 10px;
    width: 100px;
    font-weight: 600;
}

.createfilebox>.btn {
    width: fit-content;
    margin: 10px 10px 10px 10px;
    width: 100px;
    font-weight: 600;
}

.FivehrzntlDiv>.input,
select {
    margin: 10px 10px 10px 10px;
}


.EnterRecordManual {
    margin: 10px 10px 10px 10px;
}

input[type="text"],
button {
    border: 3px solid black;
    border-radius: 5px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

select {
    border: 3px solid black;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

button {
    border: 3px solid black;
    border-radius: 5px;
    height: max-content;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-family: monospace;
    padding: 5px 5px 5px 5px;
    background-color: blue;
    color: white;
}


/*Image Upload Styles*/

.container {
    width: 80%;
    max-width: 1000px;
    /* text-align: center;
        */
}

.upload-section {
    margin-bottom: 20px;
}

#fileInput {
    display: none;
}

.upload-btn {
    padding: 10px 20px;
    background-color: #ffffff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /*
        justify-content: center;*/
}

.image-container {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    display: flex;
    gap: 5px;
}

.image-buttons button {
    padding: 5px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay img {
    width: 50%;
    height: 50%;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.overlay-buttons {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.overlay-buttons button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* till here */



/*Other css styles*/

td {
    padding-left: 10px;
}


.center-table,
.center-table_2 {
    margin: 0 auto;
    /* Set left and right margins to "auto" */
    border: solid 5px rgb(255, 255, 255);
    border-collapse: collapse;
}

.center_me {
    text-align: center;
}

#myTable,
#myTable_2 {
    border: 3px solid black;
    border-collapse: collapse;
    background-image: url("{% static '/images/dark.jpeg' %}");
    background-size: cover;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-repeat: repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 400px;
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #e0f900;
}


.center_divblock {
    background-image: "gf";
    margin: 5px 5px 5px 5px;
}

#createfilebtn {
    padding: 10px;
    cursor: pointer;
}

.error-message {
    color: red;
    font: weight 500px;
    display: none;
    margin: 12px 20px 12px 40px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: white;
}

#message,
#message_2 {
    color: rgb(255, 255, 255);
    font: weight 500px;
    margin: 12px 20px 12px 40px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: none;
    width: 80%;
}

#createfilebtn:disabled:hover+.error-message {
    display: block;
}

.datepickerBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    background: none;
}


.datepickerBtn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#excelDataTable input[type='text'] {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.center-table_2,
#excelDataTable th {
    background-color: rgb(0, 124, 25);
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
    width: 100px;
}

#excelDataTable img,
#popupMessage img {
    width: 30px;
    height: 30px;
}

.trtbl2:hover {
    border: 5px solid rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
    background-color: rgb(238, 238, 238);
    color: rgb(0, 124, 25);

}

.logo-image {
    height: 40px;
    width: 70px;
    margin: 10px 10px 10px 10px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#popupMessage {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #e0f900;
}

#popupMessage2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #e0f900;
}

.popupbtn {
    font-weight: bold;
    font-size: medium;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.saveButton {
    background-image: url("{% static '\images\savelogobtn.png' %}");
    background-size: cover;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.hidden-column {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-container {
    display: flex;
    align-items: center;
}

.edit-container input {
    margin-right: 5px;
}